/* -------------------
common style
 -----------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
    background-color: aqua;
}
section{
    margin: 100px 140px 0 ;
}

/*----------------------------
     header styling start
 ----------------------------*/
 .container{
    display: flex;
    background-color: black;
    border-radius: 30px;
    margin-bottom: o;
 }
 
 .banner-title{
    width: 531px;
    height: 424px;
    color: white;
    padding:110px 0 105px 110px;
 }
 .banner-title
 h1{
    font-size: 3em;
    font-weight: 700;
 }
 .transition{
    background-color: red;
    text-decoration: none;
    border-radius: 10px;
    padding: 16px 50px;
    margin: 30px 20px;
    color: whitesmoke;  
 }
button:hover{
    background-color:blueviolet;
    width: 300px;
    height: 100px;
    transform: rotate(180deg);
    

}  

 .banner-item img{
    width:581px ;
    height: 613px;
 }
 

